# Node modules
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# Migrations folder (jika menggunakan knex atau sejenisnya)
migrations/

# Uploaded files
src/uploads/

# Test coverage
coverage/

# Build output
dist/

# OS specific files (for example macOS)
.DS_Store

# Temporary files
*.swp
*.swo

# Editor files
.vscode/
.idea/

# Other file types to exclude
*.bak
